$backgroundColor: #2B2F35;
$secondaryColor: #133249;
$accentColor: #535E4B;
$textColor: #A89991;

body {
    background-color: $backgroundColor;
    color: $textColor;
}

header {
    background-color: $secondaryColor;
    padding: .8rem;
    border-radius: .7em;
    box-shadow: 0 0 .5rem rgba(0,0,0,.2);
    h1 {
        text-align: center;
    }
}

#search-city {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
    form {
        border: $accentColor solid .05rem;
        padding: 2.5rem;
        border-radius: .7em;
        input {
            border: none;
            padding: .7rem;
            font-size: 1.2rem;
            background-color: $secondaryColor;
            color: $textColor;
            border-radius: .7em;
            box-shadow: 0 0 .5rem rgba(0,0,0,.2);
            &:focus {
                outline: none;
            }
        }
        button {
            border: none;
            padding: .5rem;
            font-size: 1.2rem;
            background-color: $accentColor;
            color: $textColor;
            border-radius: .7em;
            box-shadow: 0 0 .5rem rgba(0,0,0,.2);
            &:focus {
                outline: none;
            }
        }
    }
}

.current-forecast {
    padding: 1rem;
    display: flex;
    align-self: flex-end;
    #current {
        background: $accentColor;
    } 
}

#forecast {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 1rem;
}

#day-forecast {
    margin: 1rem 1rem;
    padding: 1rem;
    background: $secondaryColor;
    border-radius: .7em;
    box-shadow: 0 0 .5rem rgba(0,0,0,.2);
    border: $accentColor solid .05rem;
}